<div class="container">
    <div class="row">
        <h2>Menu</h2>
    </div>
</div>
<!-- .container -->
<br>
<div class="container">

    <div class="col-sm-12">
        <h3>Bebidas</h3>
    </div>
<hr>
    <div class="col-sm-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-43" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Capuchino</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-44" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Americano</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-46" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Mocca</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-45" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Caramelo</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-1" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Pasado</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-4" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Macchiato</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-2" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Expresso</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-3" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Americano</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
<hr>
<!--segunda seccion-->
<div class="container">
    <hr>
    <div class="col-sm-12">
        <div id="carouselExampleIndicator" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-5" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Expreso Panna</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-6" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Cortado</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-7" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Cafe con leche</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-8" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Lagrima</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-13" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Caramel Macchiato</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-10" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Latte</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-11" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Breve</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-15" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Bombon</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-14" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Submarino</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-16" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Canelado</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-588" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Late Vainilla</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-17" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Irlandes</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicator" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicator" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<hr>
<!--comidas-->
<br>
<div class="container">

    <div class="col-sm-12">
        <h3>Comidas</h3>
    </div>
<hr>
    <div class="col-sm-12">
        <div id="carouselExampleIndicators-" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-64" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Sw clasico</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-67" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Light</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-65" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">X tres</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-550" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Club sandwich</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-66" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">X dos</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-266" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">H. clasica</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-272" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">H. parrillera de carne</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-267" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">H. de pollo</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators-" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators-" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
<hr>
<!--segunda seccion-->
<div class="container">
    <hr>
    <div class="col-sm-12">
        <div id="carouselExampleIndicatorss" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-273" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">H. parrillera de pollo</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-271" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">H. de royal</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-219" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Croissant de jamon y queso</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-220" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Empanada de pollo</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-102" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Tequeños</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-119" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Choripapa parrillera</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-101" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Choripapa especial</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-137" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Choripapa basica</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicatorss" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicatorss" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<hr>
<!--postres-->
<br>
<div class="container">

    <div class="col-sm-12">
        <h3>Postres</h3>
    </div>
<hr>
    <div class="col-sm-12">
        <div id="carouselExampleIndicatorss-" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-86" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Rellenas con chispas</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-104" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">De chocolate rellenas con chispas</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-235" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Tres leches</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-263" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Torta de chocolate</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-264" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Pie de limon</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-308" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Chocosoda</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-320" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Paneton de cafe</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="https://www.rebanando.com/media/recortaoimg_3525_crop.jpg/rh/cupcakes-de-cafe.jpg" alt="First slide">
                            <div class="text-center">
                                <h6 class="card-title">Cupcake de café</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicatorss-" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicatorss-" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
<hr>