<div class="container cta-100 ">
    <div class="container">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#blogCarousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 1</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-551">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo rapidito</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 café americano o pasado clásico + 1 empanada o croissant </p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 2</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-554">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo duo</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color:#FDF6EC;">2 cafés americanos doble + 2 sandwichs clásico o x dos.</p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 3</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-552">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo clasico</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 café americano o pasado clásico + 1 sandwich clásico o x dos.</p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 4</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-555">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo club</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">2 cafés americanos o pasados dobles + 1 club sandwich tradicional (con papas fritas y cremas).</p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 5</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-553">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo Endulzate</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 café americano o pasado clásico + 1 porción de torta (a elección) .</p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 6</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-556">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo capillano</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">2 cafés o 2 limonadas + 2 hamburguesas clásicas (papas fritas y salsas).</p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->
            </div>
        </div>
    </div>
</div>
<!--segunda seccion-->
<div class="container cta-100 ">
    <div class="container">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#blogCarousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 1</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-551">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo rapidito</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 café americano o pasado clásico + 1 empanada o croissant </p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 2</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-554">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo duo</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">2 cafés americanos doble + 2 sandwichs clásico o x dos.</p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 3</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-552">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo clasico</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 café americano o pasado clásico + 1 sandwich clásico o x dos.</p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 4</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-555">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo club</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">2 cafés americanos o pasados dobles + 1 club sandwich tradicional (con papas fritas y cremas).</p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 5</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-553">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo Endulzate</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 café americano o pasado clásico + 1 porción de torta (a elección) .</p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 6</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-556">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo capillano</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i>
                                                    Comments(3)</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">2 cafés o 2 limonadas + 2 hamburguesas clásicas (papas fritas y salsas).</p>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0"
                                                    class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->
            </div>
        </div>
    </div>
</div>