<img src="../../../assets/imagenes/seccion-menu.png" style="padding-top: 3%;" width="1349" height="500" alt="">
<div class="container cta-100 ">
    <div class="container">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#blogCarousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 1</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="../../../assets/imagenes/combo-completo.jpg">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo completo</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(7)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 latte nitro dulce + americano helado + 1 moca + 1 tarta + 2 mini biscochos de chocolate </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 2</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="../../../assets/imagenes/combo-simple.jpg">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo simple</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(5)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color:#FDF6EC;">1 latte blanco dulce + 2 galletas de chispas + chocolate y malvadisco.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 3</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="../../../assets/imagenes/combo-simple2.jpg">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo simple 2</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(3)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 moca / latte helado + 2 piononos rellenos de crema / chocolate.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 4</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="../../../assets/imagenes/combo-helado.jpg">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo helado</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(3)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">2 mocha/ latte helado + budin de manzana/frutos del bosque .</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 5</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="../../../assets/imagenes/combo basico.jpg">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo basico</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(5)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 moca blanco con bayas + 1 breve + 1 torta de chocolate y crema.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 6</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="https://lh3.googleusercontent.com/NXJ3OTQ1UlU2HAanHCym9fs4HMkXbPIGtM9rhDY-mlmRIqZpE6b4_UPZadW6CgJoY7V42fRlyUSAXnnM3N2XpC_if_iZUSd0oVwliHpRWd_Wfg_y0eSUW8m3M4Nsgrpa1EWb06c4wQGdIqHjoSKBRGlS7ufg9WZvdzUsCXNCqLF7VP5qp2fHxuEOrq8CGe-rVHu2dOkK58S5UFq2bKmIG0hdt8rTGTZM921hrQHEfno9iBkIK0puEZPql1U_SJg0FRkwUENT3StePe8sLwxatoe_dnF2MZev5b9v9Ft0NEoDhvS4oNxDomvDyFEDyOxDtjK1FF8uurbUE8guvBOSsB2n_cMGCrx6-pSJvZDVsHkspQWePmqoNk1NsOykHXMq1_opdZjUD6GVEqTqeDsVWnmvZenuiDfACJgBfb60fCRMY4Te28V9He7qkV_I0W1XOJz_Y7cM_ZSCIR0oBMpbeMrf5wzNSpGCwGW1t99OgTtnMq1_6UZOz4R7uw4PuXIqo3-8HwJ8Cfi82CactI6b2KOQs45kxrPeYGgvWrFpOuOs-dX_qzx0qKLgYmgVEwgRR-M50ZbG6PKtjTzkzFmOj1vwqML5RBiFHoF9AaPbIN7S_m63RY-8FFAbsvNo917azVUxe21Yo6s-0-IXW_Uw8xjdE_6jK3nmyiBfz2I_NcFJq4bXmfT9duuO4rhwuUsqonVvR2B0RBCEACP8LJQD2TeRgwXfzmszN38OeeELSarxuIEeK1CaOTheg6Tqhg=s649-no?authuser=0">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo para 1</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(11)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 moca blanco/ fogata mocha + 2 galletas de chocolate con malvadisco</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->
            </div>
        </div>
    </div>
</div>
<!--segunda seccion-->
<div class="container cta-100 ">
    <div class="container">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousels" class="carousel slide container-blog" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#blogCarousels" data-slide-to="0" class="active"></li>
                        <li data-target="#blogCarousels" data-slide-to="1"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 7</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="https://lh3.googleusercontent.com/9IohCBm1pfrYFamR8DQTArChfdGEfBHtKr_NO-JT4RBPIjQraIiusVBXmcJTyK3aAE3jt2S6AYZ7k7-jpraGSTOp4uyxSUmXaj7fUxgNbsH4Gq4CQH-_1933tQaBur2eyGcnhDpIjIp5fPsxdW868rC-yJJZQP9FunGC7uMIOpR5-UnLQJevgl7OCacGg60surEWwaUU9q7JmTgKsECnIlZmej_oncT2LPZ3rgu_-O6JsoTHQABXv_0ViVsi9lSa7bYxuTJAtZv4f-APzP7nXwqwXIk27p_dPC86CMN7-4r9H5wALi0l5nAdF6vPlRlc6RY4FZ6GVioiq4H2njyN44B7iow1j3npZ1zUn99bq3lWfFDkrbKYBgZFB8TRtSPlXR1WxhsPhbMAUm6kkwJAAcnWliGYINlJ7MVgWkI3jnGkk5ezoQX3q3RFdVgUzqbTQ9sPa0CbcXsYCA5iTvE4YXrVfrvDJT_Wf2jf7NjqqsaziNbgA64t_TnRwMeoQtgy0g6u_RK-KW1e2e_Nw7949PtHmp0naq-Ul2bNApV-epHrckEWM4G_oGKkCd7izv1jhR3nUWiu1Awd4tZi05z9F_FZhZlUIEblOxqW3PEUVH2QNH8qKBMIXOAyyn0E2vB6n-lHGrR-Z0sFhZaZg_V5YvqOWxoTv4cL0MnnnUS1RXnp46Z0S6UHQuEKD9DmXg8YnVBhvo2D7p3A6vWGzH_KLR8s_MZ4-Km2m4a0bYWmOFoGlk5ZMugk_2287TEMMg=w500-h499-no?authuser=0">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo endulzate pro</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(6)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 latte helado + té negro orgánico</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 8</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="https://lh3.googleusercontent.com/39tWGrgHYmlCFk8VpqFasqS_Ql7BewRQRcnyB4T2fRvMMBJ9hvkJi6DwkzHjfrkD7-tCqI7QaVRyLvjV6aSoBLG0tACxNgygK6EMkbd6Q0J5Xic0F8dx6lXYqHntZCfLLrLmNKXgbrnDpyz__7JXpMQOMHcrz2_sKJsXoIMri1PQ26TvyO4QIz1Q5Fdl6Ek0gT88x2_iiQG7WOHaC40sygwhWfgvYK3gP92aahaJIyCrZEvL91xVOXdbZUQyC7xghQKx9BOnfLGGS28EvuuSf0FGqD_TVuR9VIqpKaOdeZHq-FNd5dU1PDHyWDexFpD4nTtP2AktXlqZv-3Qsei0PNryf47ORHAFguczh6yULgP3A0tZhV4ZLtfoW-JaMnw8k09vEE0BybYgxbkt72x0nqodbj32nmv1Cpo5r5y8JFxx12lIZ5l_oiKExyscx1OmeLHzsdEqS61kJmkorCIF_NvQQl2xmPdrff5VykPoNVFQMBuW37OwcWXWsao8quMBhuOtVRjJgDPTvvQU-9_p4g-2-0My6bzuarpdeWLTdYBvmh9mR4fd5vwZ0MyLMVMIoqqJUrTufcRrx0fQFd8dNgjdsEurpRJvZ2GztQot2ULoDkfjbZwAsgPjFXyYJrmL9hNoLUHjYBzhlmO83MkNS4AjnSPXo-uyykWojmKHTQVFv2TcurP2OwQlauAgAoyZwRNR3eiPAuU7sIGOLJV0QBmfUZMuV8LGl1VPqYAYYZG6xDkK-KkEIgEiosG-qQ=w712-h649-no?authuser=0">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo duo 2</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(4)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">2 mocha blanco doble</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 9</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="https://lh3.googleusercontent.com/mOLgmw7bn1Ai9M-p-q5fSgNZQeDsq_8JB3B7YmQ-D2WN1Qw-pgFgTJktQUJRx9htoOMa73-x-PWkOn2u6XcY7nHxOYAizextLxJanpNFBvBF-98brApY9VtyqmgQu5Aw-MB2iBlvTTYHjhB_lySUASapQugnbg9wf6jEeFfEIUrJ-rU5YUvBaihDdzbYLEusjqb-4UjEPr1aCeCqPy1NciBtpxea5ry9AyTKBz17txJD0-fYog9zBSko3x1v9wWls0um80bod0ZOGSnVYd_o9G_6VOjOrneyLNeeN7u7SL-61vc3r7jgjqmAaOAwQL3lRazLCbCMKZ6lG4cFnzOJsPZyQ5yKMlabH9O4zRhE4bTDPzDTDENWJg_dpVLCt3ZCqBMef1vcD3EqgXNtFPfVStsc-yOw6CXzanASm5JiSbt-CIUq3R0zCHzSwmkdpnUkvaMfjFfCPHEL0Q-vKeadGPK-B6Na4BGU373IIE5RVRMPJ3y28jr3tDkH5E9uy5iAT1vphaFUVyX2xU6unJIuFFiCESqNCd9Q6OBvIqVly-5BPhHJ_enKCZLXXfaj2ldS9JiGFn21Bnx5CynQmuqm-k0B3KsMq4xQVg7_vU_acV5bkiWNuystF9PEgDVQ5BcCV7gUw4yv4noE9oW80c1ICJHc8DvOccKmR1VG9EsbVt1Rk4-S_XF2WNzjqUqhBRYJM-oF-XepCrAQHwKFLyG-WCyxPbQcmuhCuxScJs4hEHwnoT1N8fR-fJPl7fTRnA=s649-no?authuser=0">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo clasico doble</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(8)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">2 latte dulce helado + 2 rellenas con chispas</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 10</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="https://lh3.googleusercontent.com/W9dlo5lpiySJj9MjL0kqtrlDeTg3pawFpuTBQRbxwzKR4IFxKoLZtEiXYHiAeaxhqtLT0Z_YHPt9rTUPnc9tWfTEYu3HS2tYxzdRasjs83qB7kynCa50OmCpVBPNbKy7m6QU4sgU_j3y3n_xM7_w-RKWrnZG1A9QIejBMi9yo88ON4RR5IIgnkpYBQyxPPIAK2cJtvaBVGcgJXynq3PlqBWvNaxl-LramzbHBt3efBi-xrnuVFhd7XxE_OnFlw7HiRRJ1qYXIuA5I4YFZTs4jb5fuEDCT0jKmFd-nV40ujD9ncqAvhxerv1-OgKHv8fBZBs_nsybxR8BTp1tu3GxMsY-RhZJPsv05bvuqikh0Fp4KCfVyyUydbLeL9lKUsqv4GYD9E4LFh7EAuKnyW2tKlPN_a0T4Gtj99uhiVwog2hH8hjcUduW23--YA8TCzGIf3Vg2l67vy16r4GGWtPoUuuFlci1JkSFRrBhpvQUXQgRF3Vvq7rEs9oT7qnvSGVncyHCRHLkgRP43D7-mzhuopfI2kqgU1jP4Pz3cK1-wd4hyDc0DTyJosPJsuBfDSmnznM0J-qX5jaG-YwLSyhmhcH7msL03h02529ZKC2bH20S2M9-cX-ZRJabrUOC_CPO4INaXLmWdjdW_z_5KCP3rJ5o73fZGbiV2rbGEiQRPLh1NYnQjuwlibEXOwp1gONgnaHPVCbX_DmPA3AL7S_MqeyYsz75-nNzFaVXR1qXDCzujV3Xz6TbZbLqMsEpjw=s649-no?authuser=0">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo clasico 3</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(9)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">2 caramelo high rise + 2 medialunas/ facturas.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 11</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="https://lh3.googleusercontent.com/-sv3XCWqrQDN4QiD66zmdr9YPXnhDL7alVgXX_adhksWU-ffNA3fpUQxP_qWV1sVP_6N-dXbCoFqmCu7BnoE57Jc1CtqykiU8lfyFcqmgk9SewxcYmkvNSYCx83VtbO66QcC0_C0B9qd09GBWN4j8l6pBXzZxDta2WeRQkmWGSr0BLo2niWmRbGgMm5kBf1jFG6aT--blfx463MvTIMaLct873XBy4QPu5GztT0RxKmmfMCG7sWPE2kbE9j8IFWhdWDzSgeWxidpYJFJsYbQs6P7BtkKoZvLrTxOsgIaV69QQ_6iQ7Go9Tq9P-m6__I59CywHGHVZ8Cbvd0g1C_cwUCWaKyZniVaiOlvm3rYzzSgNaQErQf7Pq5znqxwl4ey7q9b4I56gf54Eff2ntnbhNP9QTSLmzpgRVF1D4KOcsLm6tMWpLlc5PRhJHUQ7oHZ_XWUNEVpRy8PE9EiL_y2-nDv92tQtaKfV6dlx3c8n2v1q0ENK8Brf4VDarPMyxO0I238-oRF6JtD08gqiGjtZnzWpr31hq5tPk8PK0vjUM30CuhchBzN0Hf4hceyxb_-PM4bOSK3RCTBfGXpiMWnHS0iqiuXijsXZvF8oqEQFrtM0n8cDW658GG2WLdhrLfr5wHl_DCTXEeJwSfq90-CpJj6g29hOnU9G09RaK7NzRnWRLfMXrj2ougoNJYJIF1eUa3C_GmuDCTfiW5CFsHOPA1nAsko0w33IbBix1a2VXRWFJinUSnpbGVQif1jIg=w640-h618-no?authuser=0">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo Light</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;"> Comments(3)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">2 latte light + 2 mini tartas de batata/ membrillo.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Combo 12</span> </div>
                                            <!--Image-->
                                            <figure> <img alt=""
                                                    src="https://lh3.googleusercontent.com/GXRk5LttPd4XRmreus2D62_agqle-X1dGpjs2LYQFjt-QZbQoJOomWJCqvOfgFsdVKpX7YhPHdpVYe8e_8AT3NKLmuWRmsYDdrVsqz31peCYP19QeyFE4o-RDnl-8WS6c4PpxbZBlez8T1ToFpgRaTrnr7b3P9-pZk-YGtgc-IlDlFG1s_-EXT4WQzPjf7cEhnTBd6oIDrFkDGs1qj8hm5kqXyvie0hYOYvccgqRevkfAJM6iNYliNcorz3NrCpBqDu3z2AutNm1I4a_Q0mL_w_5UcLE4OsaTTD65Mx63jS4AxSNh6mAMPt6xhgmJJcsZC1bLiL73ooBfhuftOKxxRUWziTStpC1LH9DNwWiP8g6JxXvS5i-HJkP987c32oxvvagfjySfc2P0k8CRBhtBH_d6WE7S1AKueX13Uk9amd8MDgYvcKp1wCEttA7Kj-GMITPl1c-zwO3d870K7BcTrnF0oArHmkcIWJQfqOraVBrYLSkFWLCul8fs6GEdEAjCqafmSfygzNQhxK_fRI3TfTR7qjouxzEXlxgmPRHVIygbZ4aj7omwFRD403MZKRJUqhTo1KwGIK_0lbwGq8aTahVaDSEfqGQqVI12nPXeDo1czbYjdJAnVBG58qL6NLUXKthxj9fxy1-28a2Tpq_or3AZw2qUaiiqHET0sCPTsKiC_kH9DdHt88mZAE-Y8wiKQu-AQWi6xOE8qmN9Nl-1pigv3v-yeg-oqajvDu1cBTmkicL70fB2fv3XqtW4A=w654-h649-no?authuser=0">
                                            </figure>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5 style="color: #F3E9DD;">Combo llenador</h5>
                                                </a>
                                            </div>
                                            <!--Data-->
                                            <div class="item-box-blog-data" style="padding: px 15px;">
                                                <p style="color: #B7CADB;">Comments(7)💬</p>
                                            </div>
                                            <!--Text-->
                                            <div class="item-box-blog-text">
                                                <p style="color: #FDF6EC;">1 latte dulce helado + 1 fogata mocha + 1 mediauluna cubierta de crema y chocolate.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->
            </div>
        </div>
    </div>
</div>

<!-- .container -->
<br>
<div>
    
    <img src="../../../assets/imagenes/bebidas.png" width="1349" style="padding-bottom: 5%;" alt="">
<br>
</div>
<div class="container">
<hr>
    <div class="col-sm-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-43" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Capuchino</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-44" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Americano</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-46" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Mocca</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-45" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Caramelo</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-1" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Pasado</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-4" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Macchiato</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-2" alt="First slide">
                            <div class="text-center">
                                <h6 style="color:aliceblue;" class="card-title">Expresso</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-3" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Americano</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
<hr>
<!--segunda seccion-->
<div class="container">
    <hr>
    <div class="col-sm-12">
        <div id="carouselExampleIndicator" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-5" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Expreso Panna</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-6" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Cortado</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-7" alt="First slide">
                            <div class="text-center">
                                <h6 style="color:aliceblue;" class="card-title">Cafe con leche</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-8" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Lagrima</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-13" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Caramel Macchiato</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-10" alt="First slide">
                            <div class="text-center">
                                <h6 style="color:aliceblue" class="card-title">Latte</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-11" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Breve</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-15" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Bombon</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-14" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Submarino</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-16" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Canelado</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-588" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Late Vainilla</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-17" alt="First slide">
                            <div class="text-center">
                                <h6 style="color:aliceblue;" class="card-title">Irlandes</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicator" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicator" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<hr>
<!--comidas-->
<br>
<div>
<img src="../../../assets/imagenes/comidas.png"  width="1349" style="padding-bottom: 5%;" alt="">
</div>
<div class="container">
<hr>
    <div class="col-sm-12">
        <div id="carouselExampleIndicators-" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-64" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Sw clasico</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-67" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;" class="card-title">Light</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-65" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">X tres</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-550" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Club sandwich</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-66" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">X dos</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-266" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">H. clasica</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-272" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">H. parrillera de carne</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-267" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">H. de pollo</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators-" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators-" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
<hr>
<!--segunda seccion-->
<div class="container">
    <hr>
    <div class="col-sm-12">
        <div id="carouselExampleIndicatorss" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-273" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">H. parrillera de pollo</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-271" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">H. de royal</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-219" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Croissant de jamon y queso</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-220" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Empanada de pollo</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-102" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Tequeños</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-119" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Choripapa parrillera</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-101" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Choripapa especial</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-137" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Choripapa basica</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicatorss" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicatorss" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<hr>
<!--postres-->
<div>
    <img src="../../../assets/imagenes/postres.png"  width="1349" style="padding-bottom: 5%;" alt="">
</div>
<br>
<div class="container">
<hr>
    <div class="col-sm-12">
        <div id="carouselExampleIndicatorss-" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-86" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Rellenas con chispas</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-104" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">De chocolate rellenas con chispas</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-235" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Tres leches</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-263" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Torta de chocolate</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-264" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Pie de limon</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-308" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Chocosoda</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="http://www.lacapilladelcafe.com/Pedidos/GetImagenProducto-320" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Paneton de cafe</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="d-block img-fluid" src="https://www.rebanando.com/media/recortaoimg_3525_crop.jpg/rh/cupcakes-de-cafe.jpg" alt="First slide">
                            <div class="text-center">
                                <h6 style="color: aliceblue;"  class="card-title">Cupcake de café</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicatorss-" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicatorss-" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
<hr>
<app-footer></app-footer>