<div id="carouselExampleSlidesOnly" class="carousel slide" data-coreui-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h3 style="text-align: center; float: left; color: white; font-family: Georgia, 'Times New Roman', Times, serif;">GIANN ESPRESSO</h3>
      <img src="../../../assets/imagenes/carrousel.png" class="d-block w-100" alt="...">
      
    </div>
  </div>
</div>
<!--product-->
<div class="p-4 p-md-5 mb-4 text-white ">
  <img src="../../../assets/imagenes/seccion-social.png" routerLink="/combos" style="float: left;" width="600" height="300" alt="">
  <div class="col-md-6 mb-4" style="float: right;">
    <h1 class="display-4 fst-italic">Dejate seducir por nuestra variedad de productos</h1>
    <p class="lead my-3">Te ofrecemos diferentes tipos de bebidas y comidas.</p>
    <p class="lead mb-0"><a routerLink="/combos" class="text-white fw-bold">Explora nuestras variedades...</a></p>
  </div>
</div>
<section style="text-align: center;">
  <img src="../../../assets/imagenes/menu especialidades.png" width="1000" alt="">
</section>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="background-color: black;"
      class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-dark overflow-hidden mt-4">
      <div class="my-3 py-3">
        <h2 class="display-5" style="color: white; font-family: 'Times New Roman', Times, serif;">Capuccino </h2>
        <p class="lead" style="color: white;">con chocolate blanco y leche condesada.</p>
      </div>
      <div class="shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://imgsvc.cariboucoffee.com/%7B%22resize%22:300%7D/https://assets.coffeeandbagels-static.com/content/menuitem-perkapp-b7117f30-85a5-42a4-90da-2947d4a0c3b4.png"
          width="300" height="300" class="rounded-top rounded-bottom" alt="...">
      </div>
    </div>
    <div style="background-color: black;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mt-4">
      <div class="my-3 p-3">
        <h2 class="display-5" style="color: white; font-family: 'Times New Roman', Times, serif;">Latte tailandés dulce nitro</h2>
        <p class="lead" style="color: white;">Nitro prensado en frío combinado con leche, leche condensada azucarada y notas de cardamomo.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 70%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://imgsvc.cariboucoffee.com/%7B%22resize%22:300%7D/https://assets.coffeeandbagels-static.com/content/menuitem-thumb-perkapp-499b6ee4-539f-490e-9b6a-902b13505e81.png"
          width="300" height="300" class="rounded-top rounded-bottom" alt="">
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="background-color: black;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5" style="color: white; font-family: 'Times New Roman', Times, serif;">Moca tortuga</h2>
        <p class="lead" style="color: white;">Chocolate real derretido en leche al vapor y combinado con espresso y caramelo. Cubierto con
          crema batida, salsa de caramelo y trozos de tortuga.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 30%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://imgsvc.cariboucoffee.com/%7B%22resize%22:300%7D/https://assets.coffeeandbagels-static.com/content/menuitem-thumb-perkapp-1e5422ed-e4ca-456c-8fba-a102c8635866.jpeg"
          width="300" height="300" class="rounded-top rounded-bottom" alt="">
      </div>
    </div>
    <div style="background-color: black;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div  class="my-3 py-3">
        <h2 style="color: white; font-family: 'Times New Roman', Times, serif;" class="display-5">Cafè Ruso</h2>
        <p style="color: white;" class="lead">Servido en copa, contiene vodka, crema de leche y azucar.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://www.comprarmicafetera.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/10/cafe-ruso-copa-min.jpg.webp"
          width="300" height="300" class="rounded-top rounded-bottom" alt="">
      </div>
    </div>
  </div>

  <div  class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="background-color: black;"  class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5" style="color: white; font-family: 'Times New Roman', Times, serif;">Café Galao</h2>
        <p class="lead" style="color: white;">A base de expreso y leche muy espumada.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 70%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="https://envato-shoebox-0.imgix.net/b48a/59f7-071a-4889-a4b7-70e11bb8693b/0IMG_0633.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=400&s=c1fe11970baf67698bccbf2e2dd69fbf" width="300"
          height="300" class="rounded-top rounded-bottom" alt="">
      </div>
    </div>
    <div style="background-color: black;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5" style="color: white; font-family: 'Times New Roman', Times, serif;">Café Bombón</h2>
        <p class="lead" style="color: white;">Endulzado con leche condensada.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="https://www.cafescandelas.com/uploads/media_items/caf%C3%A9-bomb%C3%B3n-500.500.500.s.jpg" width="300"
          height="300" class="rounded-top rounded-bottom"  alt="">
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="background-color: black;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5" style="color: white; font-family: 'Times New Roman', Times, serif;">Cafe Dalgona</h2>
        <p class="lead" style="color: white;">Cafe con leche con toques a su origen en Asia.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 70%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://www.pequerecetas.com/wp-content/uploads/2021/06/dalgona-coffee-660x880.jpg"
          width="300" height="300" class="rounded-top rounded-bottom" alt="">
      </div>
    </div>
    <div style="background-color: black;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5" style="color: white; font-family: 'Times New Roman', Times, serif;">Caramelo High Rise®</h2>
        <p class="lead" style="color: white;">Leche recién vaporizada con espresso y caramelo cubierto con crema batida y salsa de caramelo.
        </p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://imgsvc.cariboucoffee.com/%7B%22resize%22:300%7D/https://assets.coffeeandbagels-static.com/content/menuitem-perkapp-8388f167-8f43-48a8-8b24-82d3d294da58.png"
          width="300" height="300" class="rounded-top rounded-bottom" alt="">
      </div>
    </div>
  </div>  
  <div style="text-align: center;">
    <img src="https://cdn.palbincdn.com/users/10526/images/blog/gallery/cabecera_0.jpg" alt="">
  </div>
  <!--tarjetas-->
<div class="contenedor">
  <div class="contenedor-cards">
 <div class="contenedor-card-item">
    <div class="contenedor-card-item-wrapper">
      <img src="https://blog.miwally.com/hubfs/cafeteria_wally.jpg" routerLink="/equipo" alt="">
      <div class="contenedor-info">
          <div class="info">
            <p class="titulo">Equipo</p>
          </div>
          <div class="fondo"></div>
      </div>
    </div>
</div>
<div class="contenedor-card-item">
  <div class="contenedor-card-item-wrapper">
    <img src="https://www.sillasmesas.es/blog/wp-content/uploads/2018/12/diferencia-licencia-pub-licencia-cafeteria-1024x680.jpg" routerLink="/servicios" alt="">
    <div class="contenedor-info">
        <div class="info">
          <p class="titulo">Servicios</p>
        </div>
        <div class="fondo"></div>
    </div>
  </div>
</div>
<div class="contenedor-card-item">
  <div class="contenedor-card-item-wrapper">
    <img src="https://assets.iproup.com/cdn-cgi/image/w=880,f=webp/https://assets.iproup.com/assets/jpg/2020/01/7751.jpg" routerLink="/contacto" alt="">
    <div class="contenedor-info">
        <div class="info">
          <p class="titulo">Contacto</p>
        </div>
        <div class="fondo"></div>
    </div>
  </div>
</div>
</div>
</div>
<app-footer></app-footer>