<div id="carouselExampleSlidesOnly" class="carousel slide" data-coreui-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/imagenes/carrousel.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<!--product-->
   
<div class="p-4 p-md-5 mb-4 text-white " style="background-color: black;">
  <img src="../../../assets/imagenes/seccion-social.png" style="float: left;" width="600" height="300" alt="">
  <div class="col-md-6 mb-4" style="float: right;">
    <h1 class="display-4 fst-italic">Dejate seducir por nuestra variedad de productos</h1>
    <p class="lead my-3">Te ofrecemos diferentes tipos de bebidas y comidas.</p>
    <p class="lead mb-0"><a routerLink="/combos" class="text-white fw-bold">Explora nuestras variedades...</a></p>
   
  </div>
   
</div>

  <div style="background-color: #f9e4b7;" class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="background-color: #f9e4b7;"
      class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-dark overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Capuccino </h2>
        <p class="lead">con chocolate blanco y leche condesada.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://imgsvc.cariboucoffee.com/%7B%22resize%22:300%7D/https://assets.coffeeandbagels-static.com/content/menuitem-perkapp-b7117f30-85a5-42a4-90da-2947d4a0c3b4.png"
          width="300" height="300" class="rounded-top" alt="...">
      </div>
    </div>
    <div style="background-color: #f9e4b7;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">LATTE TAILANDÉS DULCE NITRO</h2>
        <p class="lead">Nitro prensado en frío combinado con leche, leche condensada azucarada y notas de cardamomo.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 70%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://imgsvc.cariboucoffee.com/%7B%22resize%22:300%7D/https://assets.coffeeandbagels-static.com/content/menuitem-thumb-perkapp-499b6ee4-539f-490e-9b6a-902b13505e81.png"
          width="300" height="300" class="rounded-top" alt="">
      </div>
    </div>
  </div>

  <div style="background-color: #f9e4b7;" class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="background-color: #f9e4b7;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">MOCA TORTUGA</h2>
        <p class="lead">Chocolate real derretido en leche al vapor y combinado con espresso y caramelo. Cubierto con
          crema batida, salsa de caramelo y trozos de tortuga.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 30%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://imgsvc.cariboucoffee.com/%7B%22resize%22:300%7D/https://assets.coffeeandbagels-static.com/content/menuitem-thumb-perkapp-1e5422ed-e4ca-456c-8fba-a102c8635866.jpeg"
          width="350" height="300" class="rounded-top" alt="">
      </div>
    </div>
    <div style="background-color: #f9e4b7;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div  class="my-3 py-3">
        <h2 style="color: black;" class="display-5">Cafè Ruso</h2>
        <p style="color: black;" class="lead">Servido en copa, contiene vodka, crema de leche y azucar.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://www.comprarmicafetera.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/10/cafe-ruso-copa-min.jpg.webp"
          width="300" height="300" class="rounded-top" alt="">
      </div>
    </div>
  </div>

  <div style="background-color: #f9e4b7;"  class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="background-color: #f9e4b7;"  class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">CAFÉ GALÃO</h2>
        <p class="lead">A base de expreso y leche muy espumada.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 70%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="https://envato-shoebox-0.imgix.net/b48a/59f7-071a-4889-a4b7-70e11bb8693b/0IMG_0633.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=400&s=c1fe11970baf67698bccbf2e2dd69fbf" width="300"
          height="300" class="rounded-top" alt="">
      </div>
    </div>
    <div style="background-color: #f9e4b7;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">CAFÉ BOMBÓN</h2>
        <p class="lead">Endulzado con leche condensada.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="https://www.cafescandelas.com/uploads/media_items/caf%C3%A9-bomb%C3%B3n-500.500.500.s.jpg" width="300"
          height="300" class="rounded-top" alt="">
      </div>
    </div>
  </div>

  <div style="background-color: #f9e4b7;" class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div style="background-color: #f9e4b7;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Cafe Dalgona</h2>
        <p class="lead">Cafe con leche con toques a su origen en Asia.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 70%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://www.pequerecetas.com/wp-content/uploads/2021/06/dalgona-coffee-660x880.jpg"
          width="300" height="300" class="rounded-top" alt="">
      </div>
    </div>
    <div style="background-color: #f9e4b7;" class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">CARAMELO HIGH RISE®</h2>
        <p class="lead">Leche recién vaporizada con espresso y caramelo cubierto con crema batida y salsa de caramelo.
        </p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img
          src="https://imgsvc.cariboucoffee.com/%7B%22resize%22:300%7D/https://assets.coffeeandbagels-static.com/content/menuitem-perkapp-8388f167-8f43-48a8-8b24-82d3d294da58.png"
          width="300" height="300" class="rounded-top" alt="">
      </div>
    </div>
  </div>  
  
<app-footer></app-footer>