<section style="background: linear-gradient(to bottom,#454546, black ) ;">

</section>
<footer class="footer-distributed bg-black">

			<div class="footer-left">

				<h3>Giann Espresso <span><img class="rounded" src="../../../assets/imagenes/logo.png" width="90" alt=""></span></h3>

				<p class="footer-links">
					<a routerLink="/inicio" class="link-1">Inicio</a>
					<a routerLink="/equipo">Equipo</a>
					<a routerLink="/contacto">Contacto</a>
					<a routerLink="/combos">Combos y FREE HOUR</a>
					<a routerLink="/free-hour">Menu</a>
					<a routerLink="/servicios">Servicios</a>
					<a routerLink="/contrato">Estamos contratando</a>
					<a routerLink="/sugerencias">Blog de sugerencias</a>
				</p>

				<p style="color: grey;" class="footer-company-name">Giann Express © 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<p>🗺 444 S. Cedros Ave Solana Beach, California</p>
				</div>

				<div>
					<p>📞 +54.299.555.5555</p>
				</div>

				<div>
					<p><a style="color: white;" href="mailto:gianicpos@gmail.com">📧 gianicpos@gmail.com</a></p>
				</div>
				<div>
					<p><a style="color: white;" href="https://open.spotify.com/playlist/1olVuOb2VInTCOci7Y46ZK?si=I98QaGU8TXGpuL4jHjE57w&utm_source=whatsapp">🎵 Spotify</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Acerca de esta compañia</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="https://github.com/Gianissssss/Programacion-II"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>