<div class="contenedor">
  <div class="contenedor-cards">
 <div class="contenedor-card-item">
    <div class="contenedor-card-item-wrapper">
     <a href="https://open.spotify.com/playlist/1olVuOb2VInTCOci7Y46ZK?si=I98QaGU8TXGpuL4jHjE57w&utm_source=whatsapp"><img src="https://i.pinimg.com/564x/3c/7a/a3/3c7aa300f1edc6446e19f1b112f8706e.jpg" alt=""></a> 
      <div class="contenedor-info">
          <div class="info">
            <p class="titulo">Spotify</p>
          </div>
          <div class="fondo"></div>
      </div>
    </div>
</div>
<div class="contenedor-card-item">
  <div class="contenedor-card-item-wrapper">
  <a href="https://ar.pinterest.com/da_saara19/cafeterias/"> <img src="https://i.pinimg.com/564x/31/03/92/31039252115cc4ee691897b1ff6c62a7.jpg" alt=""></a> 
    <div class="contenedor-info">
        <div class="info">
          <p class="titulo">Pinterest</p>
        </div>
        <div class="fondo"></div>
    </div>
  </div>
</div>
<div class="contenedor-card-item">
  <div class="contenedor-card-item-wrapper">
  <a href="gianicposgmail.com"> <img src="https://i.pinimg.com/564x/94/2f/59/942f596fd44ec49087ea06234e4aea0a.jpg" alt=""></a> 
    <div class="contenedor-info">
        <div class="info">
          <p class="titulo">Gmail</p>
        </div>
        <div class="fondo"></div>
    </div>
  </div>
</div>
</div>
</div>
<div class="contenedor">
  <div class="contenedor-cards">            
    <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <img src="../../../assets/imagenes/comentario1.png" alt="">
          <div class="contenedor-info">
              <div class="info">
                <p class="titulo">Twitter</p>
              </div>
              <div class="fondo"></div>
          </div>
        </div>
    </div>
    <h2 style="color: white; font-family: 'Courier New', Courier, monospace; font-size:large;">Comentarios de Twitter</h2>
    <div class="contenedor-card-item">
      <div class="contenedor-card-item-wrapper">
        <img src="../../../assets/imagenes/comentario2.png" alt="">
        <div class="contenedor-info">
            <div class="info">
              <p class="titulo">Twitter</p>
            </div>
            <div class="fondo"></div>
        </div>
      </div>
  </div>
</div>
</div>
<div class="contenedor">
  <div class="contenedor-cards">            
    <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <img src="../../../assets/imagenes/comentario1.png" alt="">
          <div class="contenedor-info">
              <div class="info">
                <p class="titulo">Twitter</p>
              </div>
              <div class="fondo"></div>
          </div>
        </div>
    </div>
    <h2 style="color: white; font-family: 'Courier New', Courier, monospace; font-size:large;">Comentarios de Facebook</h2>
    <div class="contenedor-card-item">
      <div class="contenedor-card-item-wrapper">
        <img src="../../../assets/imagenes/comentario2.png" alt="">
        <div class="contenedor-info">
            <div class="info">
              <p class="titulo">Twitter</p>
            </div>
            <div class="fondo"></div>
        </div>
      </div>
  </div>
</div>
</div>
<div class="contenedor">
  <div class="contenedor-cards">            
    <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <img src="../../../assets/imagenes/comentario1.png" alt="">
          <div class="contenedor-info">
              <div class="info">
                <p class="titulo">Twitter</p>
              </div>
              <div class="fondo"></div>
          </div>
        </div>
    </div>
    <h2 style="color: white; font-family: 'Courier New', Courier, monospace; font-size:large;">Comentarios de Instagram</h2>
    <div class="contenedor-card-item">
      <div class="contenedor-card-item-wrapper">
        <img src="../../../assets/imagenes/comentario2.png" alt="">
        <div class="contenedor-info">
            <div class="info">
              <p class="titulo">Twitter</p>
            </div>
            <div class="fondo"></div>
        </div>
      </div>
  </div>
</div>
</div>
<!--tarjeta 2-->

<app-footer></app-footer>