<body style="background-color: white;">
  <div class="container two-col-example">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <h2>Servicios que ofrecemos</h2>
      <div class="card-deck mb-1 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <i class="fas fa-shield-alt fa-4x com-icon"></i>
            <h4 class="card-title pricing-card-title">Calidad</h4>
            <p class="mt-3 mb-4">Nos aseguramos de que el cliente reciba trato de calidad.</p>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <i class="fas fa-cloud fa-4x com-icon"></i>
            <h4 class="card-title pricing-card-title">Tiempo de demora</h4>
            <p class="mt-3 mb-4">Ofrecemos nuestros productos de manera rapida.</p>
          </div>
        </div>
      </div>
      <div class="card-deck mb-1 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <i class="fas fa-laptop fa-4x com-icon"></i>
            <h4 class="card-title pricing-card-title">Empleados</h4>
            <p class="mt-3 mb-4">Nuestro personal esta totalmente capacitado para sus pedidos.
            </p>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <i class="fas fa-calendar-alt fa-4x com-icon"></i>
            <h4 class="card-title pricing-card-title">Horario</h4>
            <p class="mt-3 mb-4">Nuestro servicio se dedica de lunes a sabado de 08:00 a 19:00hs</p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-lg-6 col-xs-12">
      <h2>Anuncios</h2>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-com-announcements">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Proximamente delivery</h5>
<!--             <small>3 days ago</small> -->
          </div>
          <p class="mb-1">Vamos a incorporar servicio de delivery para tenernos al alcance de la mano.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-com-announcements">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Foro</h5>
<!--             <small class="text-muted">3 days ago</small> -->
          </div>
          <p class="mb-1">Nos encanta ver la reacción que tiene el cliente frente a lo que damos, por lo que añadiremos un foro</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-com-announcements">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Preguntas frecuentes</h5>
<!--             <small class="text-muted">3 days ago</small> -->
          </div>
          <p class="mb-1">Te ha sucedido que necesitas preguntar sobre el contenido de nuestros productos, entonces pronto obtendras toda la informacion que necesites.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Reclamos</h5>
<!--             <small class="text-muted">3 days ago</small> -->
          </div>
          <p class="mb-1">Si por alguna razón no te sientes satisfecho por nuestro servicio entonces proximamente abriremos un espacio de reclamo.</p>
        </a>
      </div>
    </div>
    
  </div>
</div>

</body>

<app-footer></app-footer>