
<div class="contenedor">
  <div class="contenedor-cards">            
    <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <img src="../../../assets/imagenes/comentario1.png" alt="">
          <div class="contenedor-info">
              <div class="info">
                <p class="titulo">Twitter</p>
              </div>
              <div class="fondo"></div>
          </div>
        </div>
    </div>
    <div class="contenedor-card-item">
      <div class="contenedor-card-item-wrapper">
        <img src="../../../assets/imagenes/comentario2.png" alt="">
        <div class="contenedor-info">
            <div class="info">
              <p class="titulo">Twitter</p>
            </div>
            <div class="fondo"></div>
        </div>
      </div>
  </div>
  </div>
</div>
<app-footer></app-footer>