<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]"
            style="height: 225px; width: 100%; display: block;"
            src="https://img.freepik.com/foto-gratis/cafeteria-pequena-empresa-concepto-puesta-marcha-linda-carinosa-joven-empleada-cafe-asiatica-ama-sus-companeros-trabajo-o-clientes-mostrando-signo-corazon-sobre-pecho-vistiendo-delantal-negro_1258-61970.jpg?w=740"
            data-holder-rendered="true">
          <div class="card-body">
            <p class="card-title">Paula Lopez</p>
            <p class="card-text">Encargada principal de atención al cliente.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]"
            src="https://img.freepik.com/foto-gratis/concepto-empleados-cafeteria-cafeteria-pequenas-empresas-guapo-carismatico-camarero-barista-sonriente-fondo-blanco_1258-59881.jpg?w=740&t=st=1649605044~exp=1649605644~hmac=1fbef10fb83871c971c8355db790811bf89a6400b53de269e9cd0e8955452315"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-title">Lautaro Albornoz</p>
            <p class="card-text">Gerente y supervisor general.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Saber más </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]"
            src="https://img.freepik.com/foto-gratis/concepto-pequena-empresa-empleados-cafeteria-trabajador-cafe-emocionado-feliz-sonriente-mirando-asombrado-apuntando-izquierda-empleado-tienda-lindo-impresionado-reacciona-publicidad-genial_1258-62464.jpg?w=740"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-title">Agustina Moron</p>
            <p class="card-text">Supervision de los meseros.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]"
            src="https://img.freepik.com/foto-gratis/empleados-tienda-abarrotes-concepto-pequenas-empresas-cafeterias-barista-joven-confundido-delantal-negro-mira-perplejo-efectivo-mientras-sostiene-terminal-pago-pos-dinero_1258-62591.jpg?w=740"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-title">Hannah Baker</p>
            <p class="card-text">Recepcionsita,encargada del cobro.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]"
            src="https://img.freepik.com/foto-gratis/concepto-comida-llevar-tiendas-minoristas-pequenas-empresas-cafes-restaurantes-confundido-preocupado-vendedor-inseguro-recibe-queja-cliente-telefono-mira-camara-nerviosa-sostiene-tableta-digital_1258-59298.jpg?t=st=1649605797~exp=1649606397~hmac=4efcb85e7d5914ce4b7d399f768724e64c8b09bd01242e28ebea469a10ce0942&w=740"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-title">Marcos Perez</p>
            <p class="card-text">Tomador de pedidos, mesero.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]"
            src="https://img.freepik.com/foto-gratis/empleados-tienda-abarrotes-concepto-pequenas-empresas-cafeterias-barista-confundida-mostrando-taza-vacia-mirando-perpleja-encogiendose-hombros-molesta-porque-bebida-termino-rapido_1258-62513.jpg?w=740"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-title">Florencia Castro</p>
            <p class="card-text">Encargada de la preparacion de pedidos.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]"
            src="https://img.freepik.com/foto-gratis/cafeteria-pequena-empresa-concepto-puesta-marcha-barista-asiatico-amistoso-alegre-delantal-negro-que-muestra-publicidad-bonito-propietario-cafe-invitando-oferta-especial-apuntando-dedo-abajo-banner_1258-61752.jpg?w=740"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-title">Agustina Gutierrez</p>
            <p class="card-text">Preparadora de pedidos.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]"
            src="https://img.freepik.com/foto-gratis/cafeteria-pequena-empresa-concepto-puesta-marcha-joven-barista-alegre-chica-asiatica-vistiendo-delantal-negro-trabajando-cafeteria-sonriendo-barra-bar-permanente-escuchando-pedido-cliente_1258-61758.jpg?w=740"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-title">Gianinna Campos</p>
            <p class="card-text">Preparadora de pedidos.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]"
            src="https://img.freepik.com/foto-gratis/cafeteria-pequena-empresa-concepto-puesta-marcha-alegre-barista-sonriente-personal-cafe-asiatico-delantal-negro-apuntando-camara-invitando-consumidores-visitar-probar-nuevos-postres-fondo-blanco_1258-61761.jpg?w=740"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-title">Victoria Diaz</p>
            <p class="card-text">Tomadora de pedidos,mesera</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>