<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center;">
<img src="../../../assets/imagenes/equipo.gif"  width="1200" alt="">
</div>
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://img.freepik.com/foto-gratis/cafeteria-pequena-empresa-concepto-puesta-marcha-linda-carinosa-joven-empleada-cafe-asiatica-ama-sus-companeros-trabajo-o-clientes-mostrando-signo-corazon-sobre-pecho-vistiendo-delantal-negro_1258-61970.jpg?w=740" alt="card image"></p>
                                    <h4 class="card-title">Paula Lopez</h4>
                                    <p class="card-text">Encargada en atención al cliente.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Paula Lopez</h4>
                                    <p class="card-text">Capacitada para atender cualquier tipo de duda que le surga al cliente. Más de 2 años de experiencia. Validación de trato amigable.</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://img.freepik.com/foto-gratis/concepto-empleados-cafeteria-cafeteria-pequenas-empresas-guapo-carismatico-camarero-barista-sonriente-fondo-blanco_1258-59881.jpg?w=740&t=st=1649605044~exp=1649605644~hmac=1fbef10fb83871c971c8355db790811bf89a6400b53de269e9cd0e8955452315" alt="card image"></p>
                                    <h4 class="card-title">Lautaro Albornoz</h4>
                                    <p class="card-text">Gerente y supervisor general.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Lautaro Albornoz</h4>
                                    <p class="card-text">Personal de confianza. Apto para el trabajo. Capacitado en actividades de liderazgo y supervisión general.</p>
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://img.freepik.com/foto-gratis/concepto-pequena-empresa-empleados-cafeteria-trabajador-cafe-emocionado-feliz-sonriente-mirando-asombrado-apuntando-izquierda-empleado-tienda-lindo-impresionado-reacciona-publicidad-genial_1258-62464.jpg?w=740" alt="card image"></p>
                                    <h4 class="card-title">Agustina Moron</h4>
                                    <p class="card-text">Supervision de los meseros.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Agustina Moron</h4>
                                    <p class="card-text">Encargada de supevisar las actividades del mesero. Participe en capacitar y desarrollar el conocimiento básico del empleado.</p>
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://img.freepik.com/foto-gratis/empleados-tienda-abarrotes-concepto-pequenas-empresas-cafeterias-barista-joven-confundido-delantal-negro-mira-perplejo-efectivo-mientras-sostiene-terminal-pago-pos-dinero_1258-62591.jpg?w=740" alt="card image"></p>
                                    <h4 class="card-title">Hannah Baker</h4>
                                    <p class="card-text">Recepcionista, encargada del cobro.</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Hannah Baker</h4>
                                    <p class="card-text">Asegura el manejo formal del dinero. Encargada de cobrar el servicio.</p>
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://img.freepik.com/foto-gratis/concepto-comida-llevar-tiendas-minoristas-pequenas-empresas-cafes-restaurantes-confundido-preocupado-vendedor-inseguro-recibe-queja-cliente-telefono-mira-camara-nerviosa-sostiene-tableta-digital_1258-59298.jpg?t=st=1649605797~exp=1649606397~hmac=4efcb85e7d5914ce4b7d399f768724e64c8b09bd01242e28ebea469a10ce0942&w=740" alt="card image"></p>
                                    <h4 class="card-title">Marcos Perez</h4>
                                    <p class="card-text">Tomador de pedidos, mesero.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Marcos Perez</h4>
                                    <p class="card-text">Encargado de tomar su pedido. Atención general del cliente. Capacitado en atención al cliente.</p>
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://img.freepik.com/foto-gratis/cafeteria-pequena-empresa-concepto-puesta-marcha-barista-asiatico-amistoso-alegre-delantal-negro-que-muestra-publicidad-bonito-propietario-cafe-invitando-oferta-especial-apuntando-dedo-abajo-banner_1258-61752.jpg?w=740" alt="card image"></p>
                                    <h4 class="card-title">Agustina Gutierrez</h4>
                                    <p class="card-text">Preparadora de pedidos.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Agustina Gutierrez</h4>
                                    <p class="card-text">Se encarga de la preparación de pedidos. Capacitada para el uso correcto de los materiales y elaboración de productos.</p>
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="https://img.freepik.com/foto-gratis/empleados-tienda-abarrotes-concepto-pequenas-empresas-cafeterias-barista-confundida-mostrando-taza-vacia-mirando-perpleja-encogiendose-hombros-molesta-porque-bebida-termino-rapido_1258-62513.jpg?w=740" alt="card image"></p>
                                  <h4 class="card-title">Florencia Castro</h4>
                                  <p class="card-text">Preparadora de pedidos.</p>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Florencia Castro</h4>
                                  <p class="card-text">Se encarga de la preparación de pedidos. Capacitada para el uso correcto de los materiales y elaboración de productos.</p>
                                  
                              </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://img.freepik.com/foto-gratis/cafeteria-pequena-empresa-concepto-puesta-marcha-joven-barista-alegre-chica-asiatica-vistiendo-delantal-negro-trabajando-cafeteria-sonriendo-barra-bar-permanente-escuchando-pedido-cliente_1258-61758.jpg?w=740" alt="card image"></p>
                                <h4 class="card-title">Gianinna Campos</h4>
                                <p class="card-text">Preparadora de pedidos.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Gianinna Campos</h4>
                                <p class="card-text">Se encarga de la preparación de pedidos. Capacitada para el uso correcto de los materiales y elaboración de productos.</p>
                               
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="https://img.freepik.com/foto-gratis/cafeteria-pequena-empresa-concepto-puesta-marcha-alegre-barista-sonriente-personal-cafe-asiatico-delantal-negro-apuntando-camara-invitando-consumidores-visitar-probar-nuevos-postres-fondo-blanco_1258-61761.jpg?w=740" alt="card image"></p>
                              <h4 class="card-title">Victoria Diaz</h4>
                              <p class="card-text">Tomadora de pedidos, mesera.</p>
                             
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Victoria Diaz</h4>
                              <p class="card-text">Encargado de tomar su pedido. Atención general del cliente. Capacitado en atención al cliente.</p>
                             
                          </div>
                  </div>
              </div>
          </div>
      </div>
        </div>
    </div>
</section>
<app-footer></app-footer>